body{
	font-size: 16px;
	color:#fff;
	background-color: #61122f;
	font-family: 'Oxygen', sans-serif;
}
#header-nav{
	background-color: #f6b319;
	border-radius: 0;
	border: 0;
}
h1{
	font-weight: bolder;
	color: blue;
	text-shadow: 0px 2px 2px  black;
	margin-bottom: 30px;
	position: relative;
}
h2{
	text-align: center;
	color:white;
	width: auto;
	height: auto;
	overflow: hidden;
	text-shadow: 0px 3px 3px  black;
	position: relative;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar
{
	border: 1px solid #61122f;
}